# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# PEBS output files
*.dat

# Binaries
gups_hemem/gups-skewed
gups_hemem/gups-hotset-move
gups_hemem/gups-random

# Reult dir
results

# Jupyter Notebook
.ipynb_checkpoints
